<mat-form-field class="search">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="filtrar($event)" placeholder="buscar">
</mat-form-field>
<table mat-table [dataSource]="recordDto" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>ID.</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="FROM">
    <th mat-header-cell *matHeaderCellDef>FROM</th>
    <td mat-cell *matCellDef="let element">{{element.currencyFrom}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="TO">
    <th mat-header-cell *matHeaderCellDef>TO</th>
    <td mat-cell *matCellDef="let element">{{element.currencyTo}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="AMOUNT">
    <th mat-header-cell *matHeaderCellDef>AMOUNT</th>
    <td mat-cell *matCellDef="let element">{{element.amount}}</td>
  </ng-container>

  <ng-container matColumnDef="DATE">
    <th mat-header-cell *matHeaderCellDef>DATE</th>
    <td mat-cell *matCellDef="let element">{{element.date | date:"medium"}}</td>
  </ng-container>

  <ng-container matColumnDef="RESULT">
    <th mat-header-cell *matHeaderCellDef>RESULT</th>
    <td mat-cell *matCellDef="let element">{{element.result}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>



