<style>
  body{
    margin: 0;
    padding-top: 80px;
    background-color: #FF97C1;
    font-family: Arial, sans-serif;
    font-size: 16px;

  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    font-size: 3rem;
    color: #9A1663;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 1.5rem;
    color: #E0144C;
    margin-top: 20px;
  }



</style>
<body>
<div class="container">
  <h1>WELCOME</h1>
  <p class="subtitle">¡Thanks for visiting NINI SPACE!</p>

</div>
</body>
